<!-- /templates/customers/order.liquid -->

{% comment %} <h2>Billing Address</h2>
<p><span>Payment Status:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
<p>{{ order.billing_address.name }}</p>
<p>{{ order.billing_address.company }}</p>
<p>{{ order.billing_address.street }}</p>
<p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
<p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
<p>{{ order.billing_address.phone }}</p>

<h2>Shipping Address</h2>
<p><span>Fulfillment Status:</span><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
<p>{{ order.shipping_address.name }}</p>
<p>{{ order.shipping_address.company }}</p>
<p>{{ order.shipping_address.street }}</p>
<p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
<p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
<p>{{ order.shipping_address.phone }}</p>

<h2>Order Items</h2>
<table>
  {% for line_item in order.line_items %}
  <tr>
    <td>{{ line_item.title | link_to: line_item.product.url }}</td>
    <td>{{ line_item.sku }}</td>
    <td>{{ line_item.original_price | money }}</td>
    <td>{{ line_item.quantity }}</td>
    <td>{{ line_item.line_price | money }}</td>
  </tr>
  {% endfor %}
</table> {% endcomment %}
{{ "account-page.css" |  asset_url | stylesheet_tag}}
{% if customer.default_address %}
  <div class="accountpage">
    {% comment %} nav {% endcomment %}
    <div class="account-nav">
      <a href="/account">INFO</a>
      <a href="/account/orders">ORDERS</a>
      <a href="/account/addresses">ADDRESSES</a>
      <a href="">REWARDS</a>
      <a href="">WISHLIST</a>
    </div>
    {% comment %} header {% endcomment %}
    <div class="accountpage-header">
      <div class="greeting">
        <span>Hi&nbsp;{{ customer.default_address.first_name }}</span>
      </div>
      <a href="/account/logout">Logout</a>
    </div>
  
   <div class="content">
      {% comment %} info {% endcomment %}
    </div>
</div>
  {% endif %}
   