{{ 'announcementbar.css' | asset_url | stylesheet_tag }}

{%  style  %}  
  .announcement {
    background-color: {{ section.settings.announcement_bar_bg }};
  }
  .announce-text {
    color: {{ section.settings.announcement_bar_text }};
  }
{% endstyle %}

<div class="announcement">
  {% for block in section.blocks %}
    <a class="announce-text" href="{{ block.settings.announcement_link }}">
      {{ block.settings.announcement_text }}
    </a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "color",
      "id": "announcement_bar_bg",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "announcement_bar_text",
      "label": "Text color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "announcement-block",
      "name": "Announcement Slide",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Text",
          "default": "SIGN UP FOR RM REWARDS AND EARN POINTS ON EVERY PURCHASE."
        },
        {
          "type": "url",
          "id": "announcement_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement"
    }
  ]
}
{% endschema %}
