{{ 'collection-list.css'|asset_url|stylesheet_tag }}


<div class="collection-list">
  {% for block in section.blocks %}
    <a href="{{ collection.url }}" class="collection-item">
      <div class="collection-image-wrapper">
        <img class="collection-image" src="{{ collection.image.src | img_url: 'medium' }}" alt="{{ collection.title }}">
        <div class="collection-title">{{ collection.title }}</div>
      </div>
    </a>
  {% endfor %}
</div>
 
{% schema  %}
{
    "name": "collection",
    "settings": [
    ],
    "blocks": [
        {
        "type": "collection",    
        "name": "collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Select collection"
                },{
                  "type": "image_picker",
                  "id": "image",
                  "label": "select image for collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "collection list"
        }
    ]

}
{% endschema %}