{{ "main-product.css" |  asset_url |  stylesheet_tag }}
{{ "main-product.js" |  asset_url |  script_tag }}
{% comment %} <div class="main_product">
  <div class="product-images">
    <div class="slider-nav">
      {% for image in product.images %}
        <div class="thumbnail" 
             {% if product.selected_or_first_available_variant.featured_media.alt != image.alt and product.selected_or_first_available_variant.featured_media.alt != blank %}
               style="display: none;"
             {% endif %}
             thumbnail-alt="{{ image.alt }}">
          <img src="{{ image | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>

    <div class="slider-for">
      {% for image in product.images %}
        <div class="mainimage" 
             {% if product.selected_or_first_available_variant.featured_media.alt != image.alt and product.selected_or_first_available_variant.featured_media.alt != blank %}
               style="display: none;"
             {% endif %}
             mainimage-alt="{{ image.alt }}">
          <img class="zoomimage" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="product-details-section">
    <nav class="breadcrumb">
      <a href="{{ shop.url }}">Home</a> /
      {% if collection %}
        <a href="{{ collection.url }}">{{ collection.title }}</a> /
      {% endif %}
      <span>{{ product.title }}</span>
    </nav>
    
    <div class="wishlist">
      <button><span class="material-symbols-outlined">favorite</span></button>
    </div>
    
    <div class="product">
      <h1 class="ptitle">{{ product.title }}</h1>
    </div>
    
    <div class="custom-dropdown">
      <button class="dropdown-button">{{ product.selected_or_first_available_variant.title }}</button>
      <div class="dropdown-menu">
        {% for variant in product.variants %}
          <div class="dropdown-item" data-variant-id="{{ variant.id }}">
            {% if variant.featured_image %}
              {% assign swatch_image = variant.featured_image | img_url: 'small' %}
              <img class="swatch_img" src="{{ swatch_image }}" alt="{{ variant.title }}">
            {% endif %}
            <span class="swatch-name">{{ variant.title }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="main_product">
  <div class="product-images">
    <div class="slider-nav">
      {% for image in product.images %}
        <div class="thumbnail" 
             {% if product.selected_or_first_available_variant.featured_media.alt != image.alt and product.selected_or_first_available_variant.featured_media.alt != blank %}
               style="display: none;"
             {% endif %}
             thumbnail-alt="{{ image.alt }}">
          <img src="{{ image | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>

    <div class="slider-for">
      {% for image in product.images %}
        <div class="mainimage" 
             {% if product.selected_or_first_available_variant.featured_media.alt != image.alt and product.selected_or_first_available_variant.featured_media.alt != blank %}
               style="display: none;"
             {% endif %}
             mainimage-alt="{{ image.alt }}">
          <img class="zoomimage" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="product-details-section">
    <nav class="breadcrumb">
      <a href="{{ shop.url }}">Home</a> /
      {% if collection %}
        <a href="{{ collection.url }}">{{ collection.title }}</a> /
      {% endif %}
      <span>{{ product.title }}</span>
    </nav>
    
    <div class="wishlist">
      <button><span class="material-symbols-outlined">favorite</span></button>
    </div>
    
    <div class="product">
      <h1 class="ptitle">{{ product.title }}</h1>
    </div>
    
    <div class="custom-dropdown">
      <button class="dropdown-button">{{ product.selected_or_first_available_variant.title }}</button>
      <div class="dropdown-menu">
        {% for variant in product.variants %}
          <div class="dropdown-item" data-variant-id="{{ variant.id }}">
            {% if variant.featured_image %}
              {% assign swatch_image = variant.featured_image | img_url: 'small' %}
              <img class="swatch_img" src="{{ swatch_image }}" alt="{{ variant.title }}">
            {% endif %}
            <span class="swatch-name">{{ variant.title }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



 {% comment %} {% section 'template-index' %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
      </div>
    </div>
  </div>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div> {% endcomment %}


{% schema %}
{
  "name": "Product",
  "settings": [
    
    ],
    "presets": [
      {
        "name": "product"
        }
        ]

}
{% endschema %}


